<!DOCTYPE html>
<html>
    <head>
        <%= require("../head.ejs")() %>
        <title>Chat - Curai Health</title>
        <%= require("../stripe.ejs")() %>
        <meta name="apple-itunes-app" content="app-id=626518877, app-argument=https://apps.apple.com/us/app/curai-health/">
    </head>

    <body>
        <div id="app"></div>
    </body>
</html>
